<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tally.mapper.DetailMapper">
<select id="ListTodyDetailByUserID" resultType="consumption">
SELECT userid AS UserID,
       consumName AS ConsumName,
       consumtype AS ConsumType,
       location AS Location,
       cost AS Cost
FROM consumption
WHERE userid=#{0}
AND lastchangetime between #{1} and #{2}
</select>

<!-- 插入新的消费 -->
<insert id="addConsume" parameterType="consumption">
INSERT INTO consumption
(userid,consumname,consumtype,location,cost) VALUES
(
#{UserID},
#{ConsumName},
#{ConsumType},
#{Location},
#{Cost}
);
</insert>
</mapper>